* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: Arial;
  height: 100%;
}

input[type="text"]:disabled {
  background: rgba(221, 221, 221, 0.5);
}

input[type="email"]:disabled {
  background: rgba(221, 221, 221, 0.5);
}

input[type="tel"]:disabled {
  background: rgba(221, 221, 221, 0.5);
}

input[type="date"]:disabled {
  background: rgba(221, 221, 221, 0.5);
}

.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.text-label {
  width: 90%;
  height: 20px;
  margin-bottom: 6px;
  border-radius: 2px;
  border: solid 1px #95989a;
  outline: none;
  padding: 5px;
}

.title {
  text-align: center;
  padding-bottom: 5px;
}

form,
.form-body {
  margin-top: 2%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  padding-left: 43px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.issue-book {
  display: flex;
  justify-content: center;
}

.form-body p {
  padding-bottom: 15px;
}

.form-body h1 {
  text-align: center;
  border-bottom: solid 1px #cacaca;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

.form-body h3 {
  display: inline-block;
}

label {
  display: block;

  padding-bottom: 5px;
}

.field {
  position: relative;
  margin-bottom: 15px;
}

.button {
  font-size: 15px;
  outline: none;
  background: #003844;
  border-radius: 4px;
  color: white;
  border: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.error-input {
  border: solid 1px red;
  border-radius: 2px;
}

.field1 {
  width: 190px;
  float: left;
}

.field2 {
  width: 190px;
  float: right;
  margin-right: 21px;
}
